.para{
    color:red;
    font-family:
}

.para1{
    color:violet;
}

.para2{
    text-decoration: underline;
}

.para3{
    color: violet;
    font-family: 'Courier New', Courier, monospace;
  
}